.nav__link a {
    color: #333333;
}

.nav__link a:hover {
    color: #4d4d4d;
}

.nav__link a:hover .d-toggle {
    fill: #4d4d4d;
}


.d-toggle {
    fill: #333333;
}

.header-btn{
    background: #334097;
    padding: 0.9vw 1.5vw;
    color: #fcf6f6;
    outline: none;
    font-family: "Altone Trial", sans-serif;
    font-size: 1.1vw;
    border: 0.1vw solid #fff;
    border-radius: 1vw;
    z-index: 2;
    height: 100%;
    position: relative;
    cursor: pointer;
}

/* Approach intro */

.approach-header {
    position: relative;
    width: 100%;
    height: 30vw; /* Adjust height as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approach-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background-color: rgba(30, 30, 30, 0.248); /* Semi-transparent overlay */
    z-index: 1;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.approach-content {
    position: relative;
    z-index: 2; /* Ensures content appears above overlay */
    text-align: center;
    padding: 0 1vw;
    color: #fff;
}

.approach-title {
    font-size: 3vw;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.approach-subtitle {
    font-size: 1.2vw;
    font-weight: 300;
    margin-top: 0.5rem;
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    .approach-header {
        height: 40vw;
    }

    .approach-title {
        font-size: 4vw;
    }

    .approach-subtitle {
        font-size: 2vw;
    }
}

/* Introduction */

.innovation-intro {
    background-color: #f5f5f5;
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innovation-intro .container {
    width: 45vw;
}

.innovation-intro h2 {
    font-size: 2.5vw;
    color: #1a237e;
    margin-bottom: 1vw;
}

.innovation-intro p {
    font-size: 1.1vw;
    color: #333;
    line-height: 1.6;
    margin-bottom: 1vw;
}

.img-container {
    width: 40vw;
    height: 40vw;
    border: 0.5vw solid #fff;
    border-radius: 1.5vw;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

/* Second section */

.first{
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-details{
    width: 45vw;
}

.text-details h2{
    font-size: 2.5vw;
    color: #1a237e;
    margin-bottom: 1vw;
}

.text-details p{
    font-size: 1.1vw;
    line-height: 1.5;
    margin-bottom: 1vw;
    color: #333;
}

.text-details ul {
    list-style-type: none;
    padding: 0;
}

.text-details li {
    font-size: 1.1vw;
    line-height: 1.5;
    margin: 1vw 1vw;
    color: #333;
    text-align: left;
}

.text-details li::before {
    content: "";
    color: #1b5e20;
    margin-right: 0.1vw;
    font-size: 1.2vw;
}

/* IMG STYLES */

.img-section {
    margin: 4vw 0;
}

.img-content {
    width: 100%;
    height: 30vw;
    position: relative;
}

.img-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CTA STYLES */

.cta-section {
    padding: 0 8vw;
    background: transparent;
    margin-top: -14vw;
    position: relative;
    margin-bottom: 10vw;
}

.cta-content {
    padding: 3vw 3vw 6vw 3vw;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    text-align: center;
}

.cta-heading{
    font-size: 2.5vw;
    font-weight: 800;
    margin-bottom: 1vw;
}

.cta-text{
    width: 90%;
    margin: auto;
    font-size: 1.1vw;
    margin-bottom: 3vw;
}

.cta-button {
    background-color: #daa520;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #dac020;
}

/* Conclusion */

.conclude{
    padding: 3vw 5vw;
}

.conclude h3{
    font-size: 2vw;
    color: #1a237e;
    margin-bottom: 0.5vw; 
}

.conclude p{
    font-size: 1.1vw;
    line-height: 1.5;
}