@font-face {
    font-family: 'Altone Trial';
    src: url("/fonts/AltoneTrial-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.3vw;
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the scrollbar track */
    border-radius: 2px;
    /* Optional: round the corners */
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 2px;
    /* Optional: round the corners */
}

html {
    scroll-behavior: smooth;
    font-family: "Altone Trial", sans-serif;
    font-size: 1.2vw;
}

:root {
    --primary: #0d304a;
    --secondary: #f25100;
}

body {
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.2vw;
    text-transform: capitalize;
}

/* GLOBAL STYLE */
.container-large {
    max-width: 80vw;
    width: 100vw;
    margin: auto;
}

.text-change {
    background: var(--primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn-primary {
    border: 0.1vw solid #d6b556;
    border-radius: 0.5vw;
    background-color: #d6b556;
    color: #fcf6f6;
    padding: 0.1vw;
    height: 3.5vw;
    width: max-content;
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gradient-primary {
    z-index: 0;
    background-image: radial-gradient(circle closest-side at 50% 50%, #fcf6f6, rgba(37, 56, 119, 0));
    opacity: 0;
    border-radius: 0.5vw;
    width: 7vw;
    height: 7vw;
    transition: transform 0.2s, opacity 0.2s;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
    transform: translate(-50%, 50%);
}

.reg {
    background: #d6b556;
    padding: 0.5vh 1.5vw;
    color: #fcf6f6;
    outline: none;
    font-family: "Altone Trial", sans-serif;
    font-size: 1.2vw;
    border: 0.1vw solid #d6b556;
    border-radius: 0.5vw;
    z-index: 2;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.btn-primary:hover .gradient-primary {
    opacity: 1;
    animation: go-around 5s linear infinite;
}

@keyframes go-around {

    0% {
        left: 0;
        bottom: 0;
    }
    25% {
        left: 0;
        bottom: 100%;
    }
    50% {
        left: 100%;
        bottom: 100%;
    }
    75% {
        left: 100%;
        bottom: 0;
    }
    100% {
        left: 0;
        bottom: 0;
    }

}

/* nav styles */

header {
    background-color: #f9f9f9;
    box-shadow: 1vw 1vw 3vw rgba(73, 73, 73, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 1.7vw;
    font-weight: 700;
}

.nav__link a {
    display: inline-block;
    padding: 0.15vw 2vw;
    font-size: 1.2vw;
}

.nav__link a:hover {
    color: var(--primary);
}

.nav__link a:hover .d-toggle {
    fill: var(--primary);
}

.dropdown-content a {
    padding: 1.2vw 2vw;
}

.d-toggle {
    margin-left: 0.1vw;
    vertical-align: middle;
    width: 1.4vw;
    height: 1.4vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20vw;
    box-shadow: 1vw 1vw 3vw rgba(73, 73, 73, 0.1);
    z-index: 1;
    border-radius: 0.5vw;
    margin-top: 0.1vw;
}

.dropdown-content a {
    color: black;
    padding: 1.2vh 1.6vw;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* HERO STYLES */

.hero-section {
    padding-top: 13vw;
    height: 58vw;
    background: url("/assets/hero-img.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    background-image: linear-gradient(to right, #0d304a, rgba(13, 48, 74, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1vw;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
}

.sub-header {
    text-transform: uppercase;
    margin-bottom: 1vw;
    font-size: 1.4vw;
    font-weight: 600;
}

.hero-content h1 {
    font-size: 4vw;
    width: 45vw;
}

.hero-paragraph {
    margin-top: 0.5vw;
    line-height: 1.5;
    width: 40vw;
    margin-bottom: 2vw;
}

/****** BRAND SECTION STYLES  *****/

.brand-section {
    background: transparent;
    padding: 2.5vw 8vw;
}

.brand-content h2 {
    text-transform: uppercase;
    padding: 1vw 0;
    font-size: 1.4vw;
    color: rgba(27, 38, 50, .6);
    width: fit-content;
    position: relative;
    /* Required for the pseudo-element to be positioned relative to this element */
}

.brand-content h2::after {
    content: '';
    display: block;
    width: 70%;
    /* Set the width of the border here */
    border-bottom: 0.25vw solid #d6b556;
    position: absolute;
    left: 0;
    /* Aligns the border to the left of the element */
    bottom: 0;
    /* Positions the border at the bottom of the element */
}

.brand-container {
    margin: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.brand-logo {
    width: 15vw;
    height: 3vw;
}

.brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brand-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: rgba(27, 38, 50, .6);
}

/******* TAB SECTION *****/

.tab-section {
    background-color: #f3f5f8;
    padding: 7vw 8vw;
}

.tab-section h2 {
    font-size: 2.7vw;
    color: var(--primary);
}

.tab-hide {
    display: none;
}

.tab-show {
    display: flex;
    flex-direction: column;
}

.tab-content {
    display: flex;
    gap: 2vw;
    margin-top: 1.5vw;
}

.tab-image-content {
    width: 80vw;
    height: 35vw;
    position: relative;
    overflow: hidden;
    border-radius: 0.5vw;
}

.tab-text-content {
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    right: 2vw;
    z-index: 10;
}

.tab-text-content h3 {
    font-size: 2.5vw;
    color: #faf9f5;
}

.tab-text-content p {
    color: #faf9f5;
    margin-top: 0.5vw;
    line-height: 1.3;
}

.tab-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(to bottom, rgba(25, 25, 25, 0) 0%, #191919 76%);
}

.tab1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tab-trigger-container {
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
}

.tab-trigger {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 5px;
    border-radius: 0.5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 32.5vw;
    width: 100%;
}

.tab-trigger:hover {
    background-color: var(--primary);
    color: #faf6f6;
}

.tab-trigger-text {
    font-size: 1.4vw;
    padding: 0 3vw;
}

.active {
    background-color: var(--primary);
    color: #faf6f6;
}

/***** QUIZ *****/

.quiz-section{
    padding: 7vw 8vw;
}

.quiz-section h2{
    text-align: center;
    font-size: 2.5vw;
    color: var(--primary);
}

.quiz-mini{
    text-align: center;
    margin-top: 1vw;
    color: rgba(27, 38, 50, .6);
}

.quiz-content-wrapper{
    padding: 7vw 0;
    min-height: 50vw;
    position: relative;
    margin-top: 3vw;
}

.quiz-img-background{
    width: 50%;
    height: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/assets/rrq-module-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.quiz-img-background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.quiz-img-background h3{
    color: #fff;
    width: 20vw;
    margin: 12vw 0 0 5vw;
    font-size: 3vw;
    line-height: 1.5;
}

.quiz-container{
    width: 60%;
    height: 40vw;
    padding: 0;
    margin-left: auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.status-bar{
    display: block;
    position: absolute;
    top: 0;
    left: -2vw;
    width: 1vw;
    height: 40vw;
}

.status-bar ul{
    padding-left: 0;
}

.status-bar ul li{
    margin: 0 auto 1.8vw;
    list-style: none;
}

.status-bar .status-dot button:last-child{
    margin-bottom: 0;
}

.status-bar .status-dot button{
    width: 0.3vw;
    height: 5.15vw;
    padding: 0;
    background-color: #fff;
    border: none;
    overflow: hidden;
    text-indent: -9999px;
    cursor: default;
    outline: 0;
}

.status-bar .status-dot .q-active button{
    border-color: var(--primary);
    background-color: var(--primary);
}


.page1, .page2, .page3, .page4, .page5, .page6{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 5vw;
}

.page-hide{
    display: none;
}

.page-show{
    display: flex;
}

.question-tag{
    margin-bottom: 2vw;
    color: var(--primary);
}

.question-header{
    font-size: 2vw;
    margin-bottom: 1.5vw;
    color: var(--primary);
}

.question-text{
    font-size: 1vw;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    padding: 0.5vw 2vw; /* Scaled padding */
    border-bottom:0.1vw solid darkgrey;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    text-align: center;
    margin-top: 2vw;
    font-size: 1.5vw; /* Scaled font size */
    font-family: "Altone Trial", sans-serif;
}

input[type="number"]:hover, input[type="number"]:focus{
    border-bottom:0.1vw solid var(--primary); /* Scaled border */
}

.next-trigger{
    position: absolute;
    bottom: 2vw;
    transform: translate(170%,-50%);
    color: var(--primary);
    cursor: pointer;
    font-family: "Altone Trial", sans-serif;
    font-size: 1.4vw;
}

.multiple-choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.choice.selected, .choice2.selected{
    border: 0.2vw solid var(--primary);
}

.choice{
    position: relative;
    display: block;
    width: 90%;
    height: 13vw;
    margin: 1vw 0 2.5vw;
    padding: 1vw 2vw;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    text-align: left;
    cursor: pointer;
    border: 0.3vw solid transparent;
}

.choice p{
    text-align: center;
}

.multiple-choice2 .choice2{
    display: block;
}

.choice2{
    position: relative;
    display: block;
    width: 90%;
    margin: 0.2vw 0 2.5vw;
    padding: 0.5vw 2vw;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    text-align: left;
    cursor: pointer;
    border: 0.3vw solid transparent;
}

.submit{
    width: 12vw;
    margin: 3vw auto 0;
    padding: 1vw 0.5vw;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.2vw;
    font-weight: 600;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.3vw;
}


/******   WHO STYLES ********/

.who-section {
    background: transparent;
    padding: 3vw 8vw;
}

.who-content h2 {
    text-transform: capitalize;
    padding: 1vw 0;
    font-size: 3vw;
    color: var(--primary);
    width: fit-content;
    position: relative;
    /* Required for the pseudo-element to be positioned relative to this element */
}

.who-content h2::after {
    content: '';
    display: block;
    width: 70%;
    /* Set the width of the border here */
    border-bottom: 0.25vw solid #d6b556;
    position: absolute;
    left: 0;
    /* Aligns the border to the left of the element */
    bottom: 0;
    /* Positions the border at the bottom of the element */
}

.who-content p {
    margin-top: 1vw;
    width: 50vw;
}

.who-container {
    margin: 5vw auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    gap: 2vw;
}

.who-card {
    position: relative;
    height: 35vw;
    overflow: hidden;
    border-radius: 0.2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.who-card:hover img {
    filter: blur(2px);
}

.who-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75) 15%, rgba(0, 0, 0, 0.55) 25%, rgba(0, 0, 0, 0.44) 35%, rgba(0, 0, 0, 0.34) 45%, rgba(0, 0, 0, 0.24) 55%, transparent 60%);
    z-index: 2;
}

.who-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5vw;
}

.who-info {
    position: absolute;
    bottom: -12.2vw;
    left: 0;
    right: 0;
    padding: 2vw;
    transition: 0.5s bottom ease;
    z-index: 10;
}

.who-info h3 {
    text-transform: uppercase;
    color: #faf9f5;
    font-size: 1.7vw;
}

.who-card:hover .who-info {
    bottom: 2vw;
}

.who-info p {
    margin-top: 2vw;
    width: 12vw;
    color: #faf9f5;
}

/******* WHAT STYLES *****/

.what-section {
    background-color: rgba(27, 38, 50, 0.03);
    padding: 4vw 8vw;
}

.what-content {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.what-img-wrapper {
    width: 45vw;
    height: 45vw;
}

.what-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.what-details {
    width: 45vw;
}

.what-details h2 {
    text-transform: capitalize;
    padding: 1vw 0;
    color: var(--primary);
    font-size: 3vw;
    width: fit-content;
    position: relative;
    /* Required for the pseudo-element to be positioned relative to this element */
}
.what-details h2::after {
    content: '';
    display: block;
    width: 70%;
    /* Set the width of the border here */
    border-bottom: 0.25vw solid #d6b556;
    position: absolute;
    left: 0;
    /* Aligns the border to the left of the element */
    bottom: 0;
    /* Positions the border at the bottom of the element */
}

.what-details h3 {
    margin-top: 2vw;
    font-size: 2vw;
    color: var(--primary);
}

.what-details p {
    margin-top: 1.5vw;
    line-height: 1.5;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    gap: 1.5vw;
    margin-top: 2vw;
}

.grid1 {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 5px;
    display: flex;
    align-items: center;
    gap: 0.2vw;
    padding: 1vw;
    border-radius: 1vw;
}

.grid1 img {
    width: 1.5vw;
    height: 1.5vw;
}

.grid1 span {
    font-weight: 600;
}

/******* IMG STYLES ****/

.img-section {
    margin: 4vw 0;
}

.img-content {
    width: 100%;
    height: auto;
    position: relative;
}

.img-content img {
    width: 100%;
    height: 100%;
}

/****** SEARCH STYLES ******/

.location-section {
    padding: 0 8vw;
    background: transparent;
    margin-top: -20vw;
    position: relative;
    margin-bottom: 10vw;
}

.location-content {
    padding: 3vw 3vw 6vw 3vw;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.tag {
    text-transform: uppercase;
    color: rgba(27, 38, 50, .6);
}

.location-content h2 {
    color: var(--primary);
    font-size: 2.5vw;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    margin-top: 2vw;
}

.search-form p{
    font-size: 1.4vw;
    color: rgba(27, 38, 50, .6);
}

#country-select {
    width: 30vw;
    padding: 1vw;
    font-family: 'Altone Trial';
    font-size: 1.3vw;
    color: rgba(27, 38, 50, .6);
    outline: none;
    background-image: url("/assets/bx-chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 1em top 50%;
    background-size: 1.5vw;
    border-radius: 0.5vw;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#search{
    width: 30vw;
    padding: 1vw;
    font-family: 'Altone Trial';
    font-size: 1.3vw;
    color: rgba(27, 38, 50, .6);
    outline: none;
    border-radius: 0.5vw;
    border: 0.1vw solid;
}

.search-btn{
    width: 10vw;
    padding: 1vw 0;
    font-family: 'Altone Trial';
    border: none;
    outline: none;
    color: #fff;
    background-color: #d6b556;
    font-size: 1.1vw;
    border-radius: 0.5vw;
    cursor: pointer;
}

.search-text{
    margin-top: 5vw;
    text-align: center;
    font-size: 2vw;
    color: var(--primary);
}

.schedule-btn{
    width: 25vw;
    display: flex;
   justify-content: center;
   align-items: center;
   margin: 2vw auto 0;
   padding: 1vw 1vw;
   font-family: 'Altone Trial';
    border: none;
    outline: none;
    color: #fff;
    background-color: #d6b556;
    font-size: 1vw;
    border-radius: 0.5vw;
    cursor: pointer;
    font-weight: 600;
}

/****** CONTACT  *******/

.contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.contact-details{
    padding: 8vw 4vw 8vw 8vw;
    background-color: #f9fafb;
    width: 30vw;
}

.contact-details h3{
    font-size: 2vw;
    color: var(--primary);
}

.contact-details p{
    margin-top: 1vw;
    line-height: 1.5;
}

.contact-form{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 2vw;
    padding-right: 8vw;
    padding-top: 4vw;
    width: 70vw;
}

.contact-form input{
    width: 28vw;
    padding: 1vw;
    font-family: 'Altone Trial';
    font-size: 1.1vw;
    color: rgba(27, 38, 50, .6);
    outline: none;
    border-radius: 0.5vw;
    border: 0.1vw solid;
}

.contact-btn{
    margin-top: 3vw;
    width: 7vw;
    padding: 1vw 0;
    font-family: 'Altone Trial';
    border: none;
    outline: none;
    color: #fff;
    background-color: #d6b556;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 0.5vw;
    cursor: pointer;
}

/****** FOOTER STYLES ******/

footer {
    padding: 3vw 0;
    background-color: #011f3de4;
}

.footer-container {
    max-width: 80vw;
    width: 100%;
    margin: auto;
}

.footer-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    gap: 5vw;
}

.footer-btn {
    color: #faf9f5;
    background-color: #d6b556;
    padding: 1vw 3vw;
    font-size: 1.2vw;
    height: 3.5vw;
}

.footer-btn:hover {
    background-color: #d6b556;
    color: #faf9f5;
}

.link-header {
    color: #fcf6f6;
    font-size: 1.2vw;
}

.footer-links ul {
    margin-top: 0.5vw;
    list-style-type: none;
}

.footer-links ul li {
    padding-top: 1vw;
}

.footer-links ul li a {
    color: #aaa6a6;
    font-size: 1vw;
}

.footer-links ul li a:hover {
    color: #fcf6f6;
}

.social-icon {
    padding: 0.7vw;
    border-radius: 100%;
    background-color: #d6b556;
    font-size: 1.35vw;
    color: #fcf6f6;
}

.footer-bottom {
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaa6a6;
}

.b-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.b-links a {
    color: #aaa6a6;
    font-size: 1vw;
}

.b-links a:hover {
    color: #fcf6f6;
}

/*******MEDIA QUERIES ****/

@media screen and (max-width:600px) {
    .reg {
        padding: 0.5vw 1.5vw;
    }

    .d-toggle {
        margin-left: 0.1vw;
        vertical-align: middle;
        width: 1.4vw;
        height: 1.4vw;
    }

    .dropdown-content a {
        padding: 0.5vh 1.6vw;
    }

    .cta-btn {
        padding: 0.8vw 3vw;
    }

}
