.nav__link a {
    color: #333333;
}

.nav__link a:hover {
    color: #4d4d4d;
}

.nav__link a:hover .d-toggle {
    fill: #4d4d4d;
}


.d-toggle {
    fill: #333333;
}

.header-btn{
    background: #334097;
    padding: 0.9vw 1.5vw;
    color: #fcf6f6;
    outline: none;
    font-family: "Altone Trial", sans-serif;
    font-size: 1.1vw;
    border: 0.1vw solid #fff;
    border-radius: 1vw;
    z-index: 2;
    height: 100%;
    position: relative;
    cursor: pointer;
}


/* First Section */

.first{
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.image-container {
    width: 40vw;
    height: 30vw;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Second Section */

.text-details{
    width: 45vw;
}

.text-details h1{
    font-size: 2.5vw;
    color: #1a237e;
    margin-bottom: 1vw;
}

.text-details p{
    font-size: 1.1vw;
    line-height: 1.5;
    margin-bottom: 1vw;
}

.text-details ul {
    list-style-type: none;
    padding: 0;
}

.text-details li {
    font-size: 1.1vw;
    line-height: 1.5;
    margin: 1vw 1vw;
    text-align: left;
}

.text-details li::before {
    content: "📌";
    color: #1b5e20;
    margin-right: 0.1vw;
    font-size: 1.2vw;
}

/* Third Section */

.text-header{
    font-size: 2.5vw;
    color: #1a237e;
    margin-bottom: 1vw;
}

/******* IMG STYLES ****/

.img-section {
    margin: 4vw 0;
}

.img-content {
    width: 100%;
    height: 30vw;
    position: relative;
}

.img-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****** CTA STYLES ******/

.cta-section {
    padding: 0 8vw;
    background: transparent;
    margin-top: -14vw;
    position: relative;
    margin-bottom: 10vw;
}

.cta-content {
    padding: 3vw 3vw 6vw 3vw;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    text-align: center;
}

.cta-heading{
    font-size: 2.5vw;
    font-weight: 800;
    margin-bottom: 1vw;
}

.cta-text{
    width: 90%;
    margin: auto;
    font-size: 1.1vw;
    margin-bottom: 3vw;
}

.cta-button {
    background-color: #daa520;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #dac020;
}

/* Conclusion */

.conclude{
    padding: 3vw 5vw;
}

.conclude h3{
    font-size: 2vw;
    color: #1a237e;
    margin-bottom: 0.5vw; 
}

.conclude p{
    font-size: 1.1vw;
    line-height: 1.5;
}